*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
font-family:arial;

}
#res{
	margin-top:60px;
 height:600px;

}
#res .form-re input{
	margin-top:15px;
}
.form-re label{
    display: inline-block;
    width: 70px;
	
	margin-left:10px;
}

.form-re .part1 input, .Part2 input{
	border-bottom:black solid 1px;
	border-top:none;
	border-left:none;
	border-right:none;
	width:200px;
height:50px;

}
.form-re #book{
	border-bottom:black solid 1px;
	border-left:none;
	border-right:none;
	border-top:solid black 1px;
	margin-top:20px;
	font-size:30px;
	width:100px;
background-color:white;
margin-left:760px;}
.form-re #book:hover{
	background-color:#00BFFF;
	color:white;
}

